@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v24/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v24/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}
.leaflet-container {
  background-color: #4576b2;
}
.crosshair {
  cursor: crosshair;
}
#panel {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  left: 50%;
  width: 500px;
  margin-left: -253px;
  top: 10px;
  background-color: #fff;
  text-align: center;
  padding: 3px;
  display: none;
}
#dialog {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.9);
  pointer-events: none;
  left: 50%;
  width: 500px;
  margin-left: -270px;
  top: 50%;
  margin-top: -172px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  display: none;
}
#dialog h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
#dialog h1 .zz {
  color: #4576b2;
}
#dialog li {
  margin-bottom: 10px;
}
#dialog .buttons {
  padding: 0;
  margin: 0;
  text-align: center;
}
#dialog button {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: #444;
  color: white;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border-width: 0;
  border-bottom: 2px solid #333;
  pointer-events: auto;
}
#dialog button:hover,
#dialog button:focus {
  background-color: #666;
  cursor: pointer;
}
#dialog button:active {
  border-bottom: none;
  border-top: 2px solid #333;
}
#github,
#paypal {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
  pointer-events: none;
  bottom: 10px;
  left: 10px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.85);
}
#github a,
#paypal a {
  text-decoration: none;
  color: black;
  pointer-events: auto;
}
#paypal {
  bottom: 50px;
}
#points {
  position: absolute;
  top: 7px;
  right: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 1px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000, 0px 2px 2px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.leaflet-popup-content {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.leaflet-popup-content table {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  border-spacing: 0;
}
.leaflet-popup-content table td {
  padding: 0;
  padding-right: 4px;
}
.leaflet-popup-content a {
  color: #4576b2;
}
@media (max-width: 560px), (max-height: 404px) {
  #dialog {
    font-size: 24px;
  }
  #dialog h1 {
    font-size: 43.2px;
  }
  #dialog button {
    font-size: 24px;
  }
  #panel {
    font-size: 31.2px;
  }
  #dialog {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 0;
  }
  #dialog li {
    margin-bottom: 8px;
  }
  #dialogContent {
    max-width: 430px;
    margin: 0 auto;
  }
  #panel {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .fa-ul {
    margin-left: 46px;
  }
  .leaflet-control-zoom {
    display: none;
  }
  #github {
    display: none;
  }
  #paypal {
    display: none;
  }
  #points {
    top: 45px;
  }
}
@media (max-width: 410px), (max-height: 340px) {
  #dialog {
    font-size: 18px;
  }
  #dialog h1 {
    font-size: 32.4px;
  }
  #dialog button {
    font-size: 18px;
  }
  #panel {
    font-size: 23.4px;
  }
}
@media (max-width: 330px), (max-height: 290px) {
  #dialog {
    font-size: 14px;
  }
  #dialog h1 {
    font-size: 25.2px;
  }
  #dialog button {
    font-size: 14px;
  }
  #panel {
    font-size: 18.2px;
  }
}
